@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    background: #000;
    width: 100%;
}
h2 {
    font-size: 6em;
    font-weight: 500;
    color: #222;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
    span {
        transition: 0.5s;
    }
    &:hover {
        span {
            color: #fff;
            text-shadow: 0 0 10px #fff, 0 0 20px #fff;
        }
    }
}